extends ../layouts/default-layout.pug
include ../base/mixins.pug

block content
	//- scroll to top section
	section.scroll-to-top
		a.btn-rounded.btn-rounded--yellow(href="#")
			em.scroll-to-top__icon.fas.fa-arrow-up
	section.hero
		.container-fluid.g-0
			+carousel('carouselHeroCaptions', herosInfo, 'heroInfo')
			
	//- about section
	section.about#About
		.container-fluid
			.row
				.col-12.col-lg-5.d-flex.align-items-stretch
					.about__video-bg
						a.about__play-btn(href="https://www.youtube.com/watch?v=p37_Ux1G_BI")
							span
								em.fas.fa-play-circle
							span.border-animation.border-animation--border-1
							span.border-animation.border-animation--border-2
				.col-12.col-lg-7.d-flex.flex-column.justify-content-center.align-items-stretch
					.about__content
						each item in aboutInfo
							h3.about__heading= item.heading
								span= item.strongHeading
							p.about__para= item.paraTop
							p.about__para.about__para--italic= item.paraItalic
							ul.about__list
								each listItem in item.list
									li.about__list-item= listItem
							p.about__para= item.paraBot
	
	//- why us section
	section.why-us
		.container
			+top-content(whyUs.title)
			.row
				each item in whyUs.box
					.col-lg-4.d-flex.flex-column.flex-lg-row.align-items-stretch
						+box(item)
	
	//- menu section
	section.menu#Menu
		.container
			+top-content(menu.title)
			ul#pills-tab.nav.nav-pills.mb-3.justify-content-center(role='tablist')
				- var count = 0
				each item in menu.category
					- count++
					li.nav-item(role='presentation')
						button.btn.btn-rounded.btn-rounded--yellow-outline#pills-show-all-tab.nav-link(class= count === 1 ? 'active' : null, data-bs-toggle='pill' data-bs-target=`#pills-${item.controlName}` type='button' role='tab' aria-controls=`pills-${item.controlName}` aria-selected= count === 1 ? 'true' : 'false')= item.name
			#pills-tabContent.tab-content
				- var count = 0
				each item in menu.category
					- count++
					.tab-pane.fade(class= count === 1 ? 'show active' : null, id= `pills-${item.controlName}`, role='tabpanel' aria-labelledby=`pills-${item.controlName}-tab`)
						.row.justify-content-between
							each dish in item.list
								.col-12.col-lg-6.ps-4.pe-4
									+menuItem(dish)

	//- specials section
	section.specials#Specials
		.container
			+top-content(specials.title)
			.row
				.col-12.col-lg-3
					#v-pills-tab.nav.flex-column.nav-pills.me-3(role='tablist' aria-orientation='vertical')
						- var count = 0
						each item in specials.name
							- count++
							button.nav-link(id='v-pills-' + count + '-tab', class= count === 1 ? 'active' : null, data-bs-toggle='pill', data-bs-target='#v-pills-' + count, type='button' role='tab' aria-controls='v-pills-' + count, aria-selected= count === 1 ? 'true' : 'false')= item
				.col-12.col-lg-9
					#v-pills-tabContent.tab-content
						- var count = 0
						each item in specials.info
							- count++
							.tab-pane.fade(id= 'v-pills-' + count, class= count === 1 ? 'show active' : null, role='tabpanel' aria-labelledby='v-pills-' + count + '-tab')
								+specialInfo(item)

	//- event section
	section.event#Event
		.container
			+top-content(events.title)
			+carousel('carouselEventIndicators', events.info, 'eventInfo', false)

	//- book table section
	section.book-a-table
		.container
			+top-content(bookTitle)
			form.row(action='#').shadow.p-5
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputName.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Your Name' required='')
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputEmail.form-control.form-control-lg.p-3.mb-2.fs-4(type='Email' placeholder='Your Email' required='')
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputPhone.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Your Phone' required='')
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputDate.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Date' required='')
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputTime.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Time' required='')
				.col-lg-4.col-md-6.col-12.mb-3 
					input#inputNumberOfPeople.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='# of People' required='')
				.col-lg-12.mb-3 
					textarea#message.form-control.form-control-lg.p-3.mb-4.fs-4(name='message' placeholder='Message' rows='8')
				.text-center.mt-1
					button.btn.btn-rounded.btn-rounded--yellow.pt-3.pb-3(type='submit') Send Message
		
	//- gallery section
	section.gallery#Gallery
		.container-fluid
			+top-content(gallery.title)
			.row
				each url in gallery.imgUrl
					.col-12.col-sm-6.col-md-4.col-lg-3
						+imgBox(url)

	//- chefs section
	section.chefs#Chefs
		.container
			+top-content(chefs.title)
			.row 
				each chef in chefs.info
					.col-12.col-md-6.col-lg-4
						+chefCard(chef)

	//- testimonials section
	section.testimonials
		.container
			+carousel('carouselTestimonialIndicators', testimonialsInfo, 'testimonialInfo', false)

	//- contact section
	section.contact#Contact
		.container-fluid.g-0
			+top-content(contact.title)
			iframe.w-100(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.715598447407!2d108.21780861528562!3d16.080241488874165!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142183b8dc2697d%3A0xc105565d68b6ad90!2zMTYgTMO9IFRoxrDhu51uZyBLaeG7h3QsIFRo4bqhY2ggVGhhbmcsIEjhuqNpIENow6J1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1626509773735!5m2!1svi!2s' width='600' height='450' style='border:0;' allowfullscreen='' loading='lazy')
		.container.mt-5
			.contact__info
				.row.p-5.shadow
					each item in contact.info
						.col-lg-3.col-md-6.col-12
							+contactItem(item)

			form.row(action='#').shadow.p-5
				.col-md-6.col-12.mb-3 
					input#inputName.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Your Name' required='')
				.col-md-6.col-12.mb-3 
					input#inputEmail.form-control.form-control-lg.p-3.mb-2.fs-4(type='Email' placeholder='Your Email' required='')
				.col-12.mb-3 
					input#inputSubject.form-control.form-control-lg.p-3.mb-2.fs-4(type='text' placeholder='Subject' required='')
				.col-12.mb-3 
					textarea#message.form-control.form-control-lg.p-3.mb-4.fs-4(name='message' placeholder='Message' rows='8')
				.text-center.mt-1
					button.btn.btn-rounded.btn-rounded--yellow.pt-3.pb-3(type='submit') Send Message